{% extends 'care_point/base.html' %}

{% block body %}

    <div class="col-ms-12 col-md-8">
        <div class="container-fluid">
             <nav class="navbar navbar-default" style="background-color: #CCCCCC">
                <div class="conteiner-fluid" >
                    <div>
                        {% if ward %}
                            <h2 style="padding: 1%">Dane podopiecznego</h2>
                            <div style="padding: 1%">
                                <p style="font-size: large" >{{ ward.name }} {{ ward.sname }}</p>
                            </div>
                        {% else %}
                    <h2>No ward to display</h2>
                         {% endif %}
                    </div>
                </div>
             </nav>
            {% if decision %}
                <div class="col-sm-12 col-md-12">
                    <div class="conteiner-fluid">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Decyzje</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for d in decision %}
                                    <tr>
                                        <td>
                                            <div class="object_display">
                                                <li>
                                                    <a href="{% url 'care_point:decision_details' d.id %}"> {{ d }} </a>
                                                    <a href="{% url 'care_point:decision_update' d.id %}"><button type="button"><span class="glyphicon glyphicon-edit"></span></button></a>
                                                    <a href="{% url 'care_point:decision_delete' d.id %}"><button type="button"><span class="glyphicon glyphicon-trash"></span></button></a>
                                                </li>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <h3>Niema decyzji do wyswietlenia </h3>
                </div>
            {% endif %}
           {% if worksheet %}
                <div class="col-sm-12 col-md-12">
                    <div class="conteiner-fluid">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Karty pracy</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for w in worksheet %}
                                    <tr>
                                        <td>
                                            <div class="object_display">
                                                <li>
                                                    <a href="{% url 'care_point:worksheet_details' w.id %}"> {{ w }} </a>
                                                    <a href="{% url 'care_point:worksheet_update' w.id %}"><button type="button"><span class="glyphicon glyphicon-edit"></span></button></a>
                                                    <a href="{% url 'care_point:worksheet_delete' w.id %}"><button type="button"><span class="glyphicon glyphicon-trash"></span></button></a>
                                                </li>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <h3>Niema kart pracy do wyswietlenia </h3>
            {% endif %}


             </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fulid">
            {% if ward %}
                 <a href="{% url 'care_point:next_decision' ward.id %}" > <button class="btn btn-primary btn-md">Dodaj decyzje</button> </a>
                 <a href="{% url 'care_point:new_worksheet_ward' ward.id %}" > <button class="btn btn-primary btn-md">Dodaj karte pracy</button> </a>
             {% endif %}
        </div>
    </div>

{% endblock %}