{% extends 'care_point/base.html' %}

{%  block body %}
 {% if ward %}

        <div class="cols-sm-12 col-md-6">
            <div class="container-fluid">
                <table class="table table-hover">
                     <thead>
                        <tr>
                            <th>Podopieczni</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for w in  ward %}
                                <tr>
                                    <td>
                                        <div class="object_display">
                                            <a href="{% url 'care_point:ward_details' w.id %}"> {{ w.name }} {{ w.sname }}</a>
                                            <a href="{% url 'care_point:ward_update' w.id %}"><button type="button"><span class="glyphicon glyphicon-edit"></span></button></a>
                                            <a href="{% url 'care_point:ward_delete' w.id %}"><button type="button"><span class="glyphicon glyphicon-trash"></span></button></a>
                                        </div>
                                    </td>
                                </tr>
                        {% endfor %}
                     </tbody>
                </table>
            </div>
        </div>


    {% else %}
        <h3>Niema umow do wyswietlenia </h3>
    {% endif %}
{% endblock %}